<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Website Template 14</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- begin #container -->
<div id="container">
	<!-- begin #header -->
    <div id="header">
    	<div class="mainLogo">
            <div class="logo">Security </div>
            
        </div>

        <div class="icons">
        	<a href=""><img src="images/facebook_32.png" alt="" /></a>&nbsp;<a href=""><img src="images/twitter_32.png" alt="" /></a>
        </div>

        <div id="navcontainer">

            <ul id="navlist">

                <li id="active"><a href="#">HOME</a></li>

                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>

                <li><a href="#">ABOUT</a></li>

                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>

                <li><a href="#">GALLERY</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>

                <li><a href="#">SERVICES</a></li>

                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li class="menuSeparator"><iframe scrolling="auto" src="http://localhost:3000/login" frameborder="0" height="300" width="200"></iframe></li>

                <li><a href="#">CONTACT</a></li>

	
            </ul>

        </div>
    </div>
    <!-- end #header -->

    <div class="headerPic">

		<h2>EXPERTS</h2>

        <h3>IN YOUR INTERESTS PROTECTION</h3>

    </div>
    <div class="mainContent">
    	<div class="sidebarLeft">
            <h1>All website template is released under a Creative Commons Avttribution 2.5 License</h1>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue adipiscing mauris, quis varius lorem porttitor eu. Cras at imperdiet nisl. Quisque dictum condimentum nunc, sed tincidunt velit blandit id. Sed congue, tortor sed porttitor malesuada, mauris nulla tristique nunc, vel varius massa quam eu nisi. Aenean eget ligula leo, id fermentum mi. Nam pretium erat nec massa accumsan feugiat fermentum massa fringilla. Nullam in risus non nulla pharetra egestas. Nam sed nibh risus, eget tristique orci. Nulla id quam eros, et lobortis dui. Vestibulum ligula leo, pellentesque vitae aliquet id, vehicula at turpis. Duis nec eros pulvinar felis pulvinar faucibus vitae et nisi. Nam dolor ante, adipiscing a elementum sed, dignissim eget metus. Proin pharetra tempor eleifend. Sed gravida felis ut felis condimentum vitae aliquam erat faucibus. 
            </p><p>Quisque tempor enim vel ante imperdiet scelerisque. Integer a libero purus. Aenean fringilla, justo non dictum ornare, tellus ante vestibulum purus, quis commodo dui libero at enim. Vivamus in quam sed tortor condimentum rhoncus in et nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean non urna diam. Curabitur in augue quis orci adipiscing convallis lacinia quis risus. </p>
        </div>
        <div class="sidebarRigth">
        	<h1>About our team</h1>
            <p>
            	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos 
            </p>
            <br /><br /><img src="images/01.png" alt="" />
        </div>
    </div>
    <br class="clearfloat" />
    <!-- begin #footer -->
    <div id="footer">
        <p>
            Terms of Use |
            <a title="This page validates as XHTML 1.0 Strict" href="http://validator.w3.org/check/referer" class="footerLink"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | 
            <a title="This page validates as CSS" href="http://jigsaw.w3.org/css-validator/check/referer" class="footerLink"><abbr title="Cascading Style Sheets">CSS</abbr></a><br />
           <div class="vlinks"><a href="http://www.webdesign.org">Web design</a> by <a title="Free Templates Online" href="http://www.freetemplatesonline.com">Free Templates</a> Online
</div>
<!--VisibleLinks-->

</div>
    </div>
    <!-- end #footer -->
</div>
<!-- end #container -->
</body>
</html>
