<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @subcategorium.nombresubcategoria %>
</p>


<%= link_to 'Editar', edit_subcategorium_path(@subcategorium) %> |
<%= link_to 'Regresar', subcategoria_path %>
